name: pull-request
on:
  pull_request:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@v1.0.1
      - name: Install kubernetes plugin
        run: pulumi plugin install resource kubernetes 2.4.2
      - name: Run tests
        run: go test ./...
