name: pull-request
on:
  pull_request:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: '1.14.x'
      - name: Run tests
        run: go test ./...
