name: release
on:
  push:
    tags: [ "v*.[0-99]" ] # only a valid semver tag

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow clone
        run: git fetch --prune --unshallow --tags
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'
      - name: Goreleaser publish
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
      - name: Chocolatey Package Deployment
        run: |
          CURRENT_TAG=v$(pulumictl get version --language generic -o)
          pulumictl create choco-deploy -a crd2pulumi v${CURRENT_TAG}
